.App {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  color: white;
  background-color: #282c34;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 4px;
  padding: 5px;
  height: 100%;
  width: 18rem;
  margin: 0 -10px;
}

.book-card > img {
  width: 100%;
  min-height: 28rem;
  object-fit: cover;
}

.book-card:hover {
  filter: brightness(0.9);
}

.book-container {
  min-height: 90vh;
  min-width: 90vw;
  background-color: #f3f2f1;
  margin-top: 1em;
  padding-right: 5em;
}

.book-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-cover > .book-image {
  width: 50%;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.content-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
